<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>The Guitar</title>
	<link rel = "stylesheet"
	type = "text/css"
	href = "review.css"/>
</head>
<body>
	<h1 id="heading">The Guitar</h1>
	<div id="description" th:each = "review: ${reviews}">
		<p th:text = "${review.brand}"></p>
		<p th:text = "${review.model}"></p>
		<p th:text = "${review.year}"></p>
		<p id="content" th:text = "${review.content}"></p>
		<img th:src="${review.imgUrl}" class="center"/>
		<a href="http://localhost:8080/show-reviews">HOME</a>
	</div>
</body>
</html>